body {
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.post {
    background-color: white;
    width: 500px;
}

.postHeader {
    display: flex;
    height: 50px;
    align-items: center;
}

.icons {
    height: 30px;
    width: 30px;
}

.profileimage {
    height: 35px;
    width: 35px; 
}

.userProfilePicture {
    width: auto;
}

.postBodyHeader {
    display: flex;
    align-items: center;
}

.morebutton {
    float: right;
    width: 30px;
}

.postImage {
    width: 500px;
}

.userName {
    margin: 0;
    font-size: small;
}

.user {
    margin-left: 5px;
    width: auto;
    display: flex;
    flex-grow: 10;
}

.iconsLeft {
    flex-grow: 10;
    margin-left: 10px;
}

p {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 5px;
}

.postBody {
    margin: 10px;
}